<section class="flex column width-full align-ctr">
    <div class="flex column CRTMonitor margin-top-56 margin-bot-56">
        <h1 class="headline-1 bold color-dark margin-bot-16">{{ data.title }}</h1>
        <div class="info flex align-ctr margin-bot-32">
            <div>
                <span class="body-2 color-dark medium">تاریخ انتشار:</span>
                <span class="body-2 color-dark medium margin-right-8">{{ data.date | PersianCalendar }}</span>
            </div>
        </div>
        <div class="slider flex column">
            <img src="{{ data.img | ImagePath }}" class="radius-8" alt=""/>
        </div>
        <div class="desc grid margin-top-40 margin-left-32 margin-right-32">
            <div class="flex column align-ctr">
                <a><app-icon icon="share" size="24" color="gray4"></app-icon></a>
                <div class="flex column align-ctr margin-top-32">
                    <app-icon icon="like" size="24" color="gray4"></app-icon>
                    <span class="body-2 medium color-gray-4 margin-top-4">{{ data.like }}</span>
                </div>
            </div>
            <div class="lineheight-32 color-dark">
               {{ data.desc }}
            </div>
        </div>
    </div>
    <div class="width-full flex justify-ctr">
        <div class="comment width-full tablet padding-bot-32 padding-top-56">
            <div class="flex align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نظر شما</h2>
                <img src="assets/images/dot.svg" alt="" />
            </div>
            <form class="grid" [formGroup]="commentForm" (ngSubmit)="OnSubmit()">
                <app-textbox
                    title="نام و نام خانوادگی"
                    name="name"
                    type="text"
                    formControlName="name"
                    [formGroup]="commentForm.get('name')">
                </app-textbox>
                <app-textbox
                    title="ایمیل"
                    name="email"
                    type="email"
                    formControlName="email"
                    [formGroup]="commentForm.get('email')">
                </app-textbox>
                <app-textbox
                    title="نظر شما"
                    name="comment"
                    [multiLine]="true"
                    [rows]="4"
                    formControlName="comment"
                    [formGroup]="commentForm.get('comment')">
                </app-textbox>
                <div class="flex">
                    <app-button mode="filled" color="primary">ارسال نظر</app-button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="data.comment.length > 0" class="tablet width-fill-moz width-fill-webkit">
        <div class="otherComments margin-top-32">
            <div class="flex align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نظر کاربران</h2>
                <img src="assets/images/dot.svg" alt="" />
            </div>
        </div>
        <app-comment *ngFor="let i of data.comment" [pid]="data._id" [data]="i" [CreateReply]="OnCreateReply"></app-comment>
    </div>
</section>
