@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host{
    > div {
        .title{
            height: 46px;
            a{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .actions{
            .show img, .like img {
                width: 20px;
                height: 20px;
            }
        }
        &.isOutline{
            border: 1px solid color.$color-gray-2;
        }
        &:not(.isOutline){
            box-shadow: 0 16px 48px rgba(0,0,0,0.08);
        }
        &.isList {
            img{
                min-width: 160px;
                height: 160px;
                object-fit: cover;
            }
            .actions {
                margin-top: auto;
            }
        }
        &.isGrid {
            max-height: 412px;
            flex-direction: column;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    :host{
        .actions{
            flex-direction: column;
            align-items: flex-start;
            app-tag{
                margin-top: 8px;
                margin-right: 0;
            }
        }
    }
}
