$color-primary: #F05756;
$color-primary-tint: #FFF1F1;
$color-primary-shade: #B74141;

$color-secondary: #418FFB;
$color-secondary-tint: #F4F7FF;
$color-secondary-shade: #3A73C2;

$color-success: #71CE9A;
$color-success-tint: #EEF8F2;

$color-danger: #FE764B;
$color-danger-tint: #F4F7FF;

$color-info: #3F8FFF;
$color-info-tint: #F4F7FF;

$color-contrast: white;
//
//$color-background: white;
//
//$color-surface: white;

$color-stroke: #DEDEDE;
$color-stroke-tint: #F1F1F1;
$color-stroke-shade: #C4C4C4;

$color-text: #383E43;
$color-text-tint: #848B90;
