//Basic Color
$color-dark:   #42494D;
$color-white:  #ffffff;
.color-dark   { color: #42494D }
.color-white  { color: #ffffff }
.background-dark   { background-color: #42494D }
.background-white  { background-color: #ffffff }


//Primary Color
$color-primary:       #FFAB2D;
$color-primary-tint:  #FFBF5F;
$color-primary-shade: #E8910F;
.color-primary       { color: #FFAB2D }
.color-primary-tint  { color: #FFBF5F }
.color-primary-shade { color: #E8910F }
.background-primary       { background-color: #FFAB2D }
.background-primary-tint  { background-color: #FFBF5F }
.background-primary-shade { background-color: #E8910F }

//Secondary Color
$color-secondary:       #24C8CA;
$color-secondary-tint:  #74E2E3;
$color-secondary-shade: #1BA7A9;
.color-secondary       { color: #24C8CA }
.color-secondary-tint  { color: #74E2E3 }
.color-secondary-shade { color: #1BA7A9 }
.background-secondary       { background-color: #24C8CA }
.background-secondary-tint  { background-color: #74E2E3 }
.background-secondary-shade { background-color: #1BA7A9 }


//Gray Color
$color-gray-1:  #F9FAFB;
$color-gray-1b: #EDF2F8;
$color-gray-2:  #DAE6EE;
$color-gray-3:  #BDC9D1;
$color-gray-4:  #848B90;
$color-gray-5:  #666D73;
.color-gray-1  { color: #F9FAFB }
.color-gray-1b { color: #EDF2F8 }
.color-gray-2  { color: #DAE6EE }
.color-gray-3  { color: #BDC9D1 }
.color-gray-4  { color: #848B90 }
.color-gray-5  { color: #666D73 }
.background-gray-1  { background-color: #F9FAFB }
.background-gray-1b { background-color: #EDF2F8 }
.background-gray-2  { background-color: #DAE6EE }
.background-gray-3  { background-color: #BDC9D1 }
.background-gray-4  { background-color: #848B90 }
.background-gray-5  { background-color: #666D73 }

//Success Color
$color-success:      #4BC97C;
$color-success-tint: #EEF8F2;
.color-success      { color: #4BC97C }
.color-success-tint { color: #EEF8F2 }
.background-success      { background-color: #4BC97C }
.background-success-tint { background-color: #EEF8F2 }

//Danger Color
$color-danger:      #FE6F6B;
$color-danger-tint: #F4F7FF;
.color-danger      { color: #FE6F6B }
.color-danger-tint { color: #F4F7FF }
.background-danger      { background-color: #FE6F6B }
.background-danger-tint { background-color: #F4F7FF }




//Text Color
$color-text:       white;
$color-text-tint:  #848B90;
$color-text-shade: #242734;
.color-text       { color: white }
.color-text-tint  { color: #848B90 }
.color-text-shade { color: #242734 }
.background-text       { background-color: white }
.background-text-tint  { background-color: #848B90 }
.background-text-shade { background-color: #242734 }

//Layout Color
$color-contrast:   white;
$color-background: white;
$color-surface:    white;
.color-contrast      { color: white }
.background-contrast { background-color: white }
.color-background    { color: white }
.background-background { background-color: white }
.color-surface         { color: white }
.background-surface    { background-color: white }

//Stroke Color
$color-stroke-1: #525663;
$color-stroke-2: #424657;
$color-stroke-3: #323647;
.color-stroke-1 { color: #525663 }
.color-stroke-2 { color: #424657 }
.color-stroke-3 { color: #323647 }
.background-stroke-1 { background-color: #525663 }
.background-stroke-2 { background-color: #424657 }
.background-stroke-3 { background-color: #323647 }

//Info Color
$color-info:      #3F8FFF;
$color-info-tint: #F4F7FF;
.color-info      { color: #3F8FFF }
.color-info-tint { color: #F4F7FF }
.background-info      { background-color: #3F8FFF }
.background-info-tint { background-color: #F4F7FF }
