@font-face {
    font-family: VazirMatnFont;
    src: url('../fonts/Vazirmatn-UI-FD-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: VazirMatnFont;
    src: url('../fonts/Vazirmatn-UI-FD-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: VazirMatnFont;
    src: url('../fonts/Vazirmatn-UI-FD-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: VazirMatnFont;
    src: url('../fonts/Vazirmatn-UI-FD-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: PelakFont;
    src: url('../fonts/Pelak-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
