.laptop, .CRTMonitor, .minScreenDesktop {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.laptop {
    width: 1280px;
}

.CRTMonitor {
    width: 1024px;
}

.minScreenDesktop {
    width: 960px;
}
