@use "fonts";
@use "color";
@use "animate";
@use "typography";
@use "media";
@use "variable";

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    direction: rtl;
    font-family: VazirMatnFont;
    background-color: color.$color-gray-2;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: VazirMatnFont;
}

//app-root:not(.indexpage) {
//    app-header header section{
//        border-bottom:1px solid color.$color-gray-1;
//    }
//    app-footer footer {
//        border-top:1px solid color.$color-gray-1;
//    }
//}
