<section class="portfolio flex column laptop margin-top-56 margin-bot-56 width-full">
    <h2 class="headline-4 bold color-text margin-ctr">نمونه کارهای من</h2>
    <div class="categories margin-bot-32">
        <ul *ngIf="!isSmall" class="flex margin-0 padding-0 justify-ctr margin-top-32">
            <li *ngFor="let opt of options; index as i">
                <app-button
                    (click)="SetCurrentTab(i)"
                    [mode]="tab == i ? 'filled' : 'ghost'"
                    [color]="tab == i ? 'primary' : 'white'">
                    {{ opt }}
                </app-button>
            </li>
        </ul>
        <div *ngIf="isSmall" class="flex justify-ctr margin-top-32">
            <app-button (click)="ToggleVisible()" class="width-fit" icon="chevron-down" mode="outlined">{{ toggleName }}</app-button>
            <app-bottomsheet
                *ngIf="isVisible"
                [title]="bottomsheetData.title"
                [options]="bottomsheetData.options"
                (value)="SetCurrentTab($event)"
                (isVisible)="ToggleVisible()">
            </app-bottomsheet>
        </div>
    </div>
    <div class="samples grid">
        <app-portfoliocard
            *ngFor="let i of data"
            [title]="i.title"
            [slug]="i.slug"
            [visit]="i.visit"
            [like]="i.like"
            [imageURL]="i.thumbnail"
            [category]="i.category"
            [isList]="isMedium">
        </app-portfoliocard>
    </div>
    <a routerLink="portfolio" class="flex margin-ctr margin-top-32 body-2 color-secondary">
        نمایش نمونه کارهای بیشتر
        <app-icon icon="arrow-left" color="secondary" class="margin-right-8"></app-icon>
    </a>
</section>
