<header class="width-full">
    <section class="flex align-ctr margin-left-auto margin-right-auto">
        <div class="flex align-ctr margin-left-48">
            <img src="assets/images/adminlogo.svg" width="180" alt="adminlogo" />
        </div>
        <nav>
            <ul class="padding-0 margin-0 flex">
                <li class="list-style-none padding-16 flex align-ctr">
                    <a routerLink="" class="body-2 medium color-dark z-index-1">نمایش سایت</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a routerLink="/admin/settings" class="body-2 medium color-dark">تنظیمات</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
