<header class="width-full">
    <section class="flex align-ctr margin-left-auto margin-right-auto">
        <div class="flex align-ctr margin-left-48">
            <img src="assets/images/adminlogo.svg" width="180" alt="adminlogo" />
        </div>
        <nav>
            <ul class="padding-0 margin-0 flex">
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark z-index-1">داشبورد</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark">نمونه کارها</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark">سفارشات</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark">کاربران</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark">بلاگ</a>
                </li>
                <li class="list-style-none padding-16 flex align-ctr">
                    <a class="body-2 medium color-dark">نظرات</a>
                </li>
            </ul>
        </nav>
        <div class="margin-right-auto">
            <a routerLink="" class="body-2 medium color-dark">نمایش سایت</a>
        </div>
    </section>
</header>
