<section class="flex column laptop margin-top-56 margin-bot-56">
    <div class="flex margin-bot-32">
        <h2 class="headline-1 color-dark bold margin-left-24">نظر برخی از کارفرمایان</h2>
        <img src="assets/images/dot.svg" alt="" />
    </div>
    <div class="grid">
        <div *ngFor="let card of data" class="flex column comment radius-8 borderbox padding-32">
            <img src="assets/icons/quote.svg" alt="" />
            <p class="body-2 color-dark margin-top-24 lineheight-28">{{ card.desc }}</p>
            <div class="flex margin-top-auto">
                <span class="caption medium color-gray-5">{{ card.name }} - </span>
                <span class="caption medium color-gray-5">{{ card.company }}</span>
            </div>
        </div>
    </div>
</section>
