@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host {
    background-color: color.$color-white;
    section{
        .grid{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 32px;
            .comment{
                height: 350px;
                border: 1px solid color.$color-gray-2;
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
