@use "src/assets/styles/color";

:host {
    display: flex;
    justify-content: center;
    width: 100%;
    section{
        .title, .replies{
            border-bottom: 1px solid color.$color-gray-1b;
            &:last-child{
                border-bottom: none;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }
}
