@use "src/assets/styles/color";
@import "src/assets/styles/typography";

:host{
    button, a{
        @include body2;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        transition: all ease-in-out 0.3s;
        font-weight: 500;
    }
}

:host{
    &[mode="filled"]{
        button, a{
            color: color.$color-text-shade;
            border: none;
        }
        &[color="primary"]{
            button, a{
                background-color: color.$color-primary;
                &:hover{
                    background-color: color.$color-primary-shade;
                }
            }
        }
        &[color="secondary"]{
            button, a{
                background-color: color.$color-secondary;
                &:hover{
                    background-color: color.$color-secondary-shade;
                }
            }
        }
    }
}

:host{
    &[mode="outlined"]{
        button, a{
            color: color.$color-text;
            background-color: transparent;
            border: 1px solid color.$color-text;
        }
        &[color="primary"]{
            button, a{
                &:hover{
                    color: color.$color-text-shade;
                    background-color: color.$color-primary;
                    border: 1px solid color.$color-primary;
                }
            }
        }
        &[color="secondary"]{
            button, a{
                &:hover{
                    color: color.$color-text-shade;
                    background-color: color.$color-secondary;
                    border: 1px solid color.$color-secondary;
                }
            }
        }
        &[color="dark"]{
            button, a{
                color: color.$color-dark;
                border: 1px solid color.$color-gray-2;
                &:hover{
                    background-color: color.$color-gray-2;
                }
            }
        }
        &[color="dark2"]{
            button, a{
                color: color.$color-dark;
                border: 1px solid color.$color-dark;
                &:hover{
                    background-color: color.$color-gray-2;
                }
            }
        }
    }
}

:host{
    &[mode="ghost"]{
        button, a{
            background-color: transparent;
            border: 1px solid rgba(255,255,255,0);
        }
        &[color="dark"]{
            button, a{
                color: color.$color-dark;
                &:hover{
                    color: color.$color-dark;
                    border: 1px solid color.$color-gray-2;
                }
            }
        }
        &[color="white"]{
            button, a{
                color: color.$color-white;
                border: 1px solid rgba(255,255,255,0);
                &:hover{
                    color: color.$color-white;
                    border: 1px solid color.$color-gray-3;
                }
            }
        }
    }
}
