<button *ngIf="!isLink" type="{{ action }}" [ngClass]="[mode, color]" class="flex justify-ctr align-ctr radius-8">
    <ng-container *ngTemplateOutlet="outlet"></ng-container>
</button>
<a *ngIf="isLink" routerLink="{{ href }}" [ngClass]="[mode, color]" class="flex align-ctr justify-ctr borderbox radius-8">
    <ng-container *ngTemplateOutlet="outlet"></ng-container>
</a>

<ng-template #outlet>
    <i *ngIf="spin; else alt"></i>
    <ng-template #alt>
        <app-icon *ngIf="icon" icon="{{ icon }}" size="20" class="margin-left-8"></app-icon>
        <ng-content></ng-content>
    </ng-template>
</ng-template>
