@use "src/assets/styles/color";
@import "src/assets/styles/typography";

@keyframes spinner {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg);}
    100% { transform: rotate(360deg); }
}

:host{
    button, a{
        @include body2;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        transition: all ease-in-out 0.3s;
        font-weight: 500;
        i{
            display: flex;
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 32px;
            border: 3px solid transparent;
            border-bottom-color: white;
            border-right-color: white;
            border-left-color: white;
            animation-name: spinner;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

button, a{
    &.filled{
        color: color.$color-text-shade;
        border: none;
        &.primary{
            background-color: color.$color-primary;
            border: 1px solid color.$color-primary;
            &:hover{
                background-color: color.$color-primary-shade;
            }
        }
        &.secondary{
            background-color: color.$color-secondary;
            border: 1px solid color.$color-secondary;
            &:hover{
                background-color: color.$color-secondary-shade;
            }
        }
    }
    &.outlined{
        color: color.$color-text;
        background-color: transparent;
        border: 1px solid color.$color-text;
        &.primary{
            &:hover{
                color: color.$color-text-shade;
                background-color: color.$color-primary;
                border: 1px solid color.$color-primary;
            }
        }
        &.secondary{
            &:hover{
                color: color.$color-text-shade;
                background-color: color.$color-secondary;
                border: 1px solid color.$color-secondary;
            }
        }
        &.dark{
            color: color.$color-dark;
            border: 1px solid color.$color-gray-2;
            &:hover{
                background-color: color.$color-gray-2;
            }
        }
        &.dark2{
            color: color.$color-dark;
            border: 1px solid color.$color-dark;
            &:hover{
                background-color: color.$color-gray-2;
            }
        }
    }
    &.ghost{
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0);
        &.white{
            color: color.$color-white;
            border: 1px solid rgba(255,255,255,0);
            &:hover{
                color: color.$color-white;
                border: 1px solid color.$color-gray-3;
            }
        }
        &.dark{
            color: color.$color-dark;
            &:hover{
                color: color.$color-dark;
                border: 1px solid color.$color-gray-2;
            }
        }
    }
}
