<button *ngIf="!isLink" type="{{ action }}" (click)="onClick()" class="flex justify-ctr align-ctr radius-8">
    <ng-container *ngTemplateOutlet="outlet"></ng-container>
</button>
<a *ngIf="isLink" routerLink="{{ href }}" class="flex align-ctr justify-ctr borderbox radius-8">
    <ng-container *ngTemplateOutlet="outlet"></ng-container>
</a>

<ng-template #outlet>
    <app-icon *ngIf="icon" icon="{{ icon }}" size="20" class="margin-left-8"></app-icon>
    <ng-content></ng-content>
</ng-template>
