<label class="flex body-2 medium color-dark margin-bot-4">{{ title }}</label>
<input *ngIf="!multiLine; else textarea" class="padding-16 borderbox radius-8 background-gray-1"
       type="{{ type }}"
       (input)="onChange($event.target.value)"
       (blur)="onTouched()"
       [value]="value"
       name="{{ name }}"
       [placeholder]="placeholder"
       required
       ngModel />
<ng-template #textarea>
    <textarea class="padding-16 borderbox radius-8 background-gray-1" rows="{{ rows }}"
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        [value]="value"
        name="{{ name }}"
        [placeholder]="placeholder"
        required
        ngModel>
    </textarea>
</ng-template>
<span *ngIf="formGroup.invalid && formGroup.touched" class="margin-top-4 margin-right-8 color-danger">Alert_Message</span>
