@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host{
    display: flex;
    flex-direction: column;
    &.ng-invalid.ng-touched{
        input{
            border: 1px solid color.$color-danger;
        }
    }
    input{
        height: 40px;
        border: none;
        outline: none;
        font-family: PelakFont;
        border: 1px solid color.$color-gray-2;
    }
    textarea{
        border: none;
        outline: none;
        font-family: PelakFont;
        border: 1px solid color.$color-gray-2;
        resize: none;
        overflow: hidden;
    }
    span{
        @include typography.caption;
    }
}
