@import "src/assets/styles/_color.scss";
@import "src/assets/styles/typography";

:host{
    display: flex;
    flex-direction: column;
    &.ng-invalid.ng-touched{
        input{
            border: 1px solid $color-danger;
        }
    }
    label{
        @include body2;
        color: $color-text;
    }
    input{
        height: 40px;
        border: none;
        outline: none;
        font-family: VazirMatnFont;
        background-color: $color-stroke-lighter;
    }
    span{
        @include caption;
        color: $color-danger;
    }
}
