<section class="width-full padding-top-24 padding-right-24 padding-left-32">
    <div class="flex align-ctr margin-bot-24">
        <h1 class="color-dark headline-5 bold">نمونه کارها</h1>
        <app-button href="new" [isLink]="true" class="margin-right-auto">نمونه کار جدید</app-button>
    </div>
    <div class="flex column background-white radius-8 shadow-16 padding-24 margin-bot-32">
        <div class="headerTable sticky background-white width-full grid body-2 bold color-dark padding-top-16 padding-bot-16">
            <span>عنوان</span>
            <span>تاریخ انتشار</span>
            <span>دسته بندی</span>
            <span>انتشار</span>
            <span>کامنت جدید</span>
            <span></span>
        </div>
        <div *ngFor="let i of data; index as j" class="rowTable flex align-ctr width-full grid body-2 medium color-dark padding-top-16 padding-bot-16 margin-top-8">
            <div class="flex align-ctr">
                <img src="{{i.thumbnail | ImagePath}}" width="40" height="40" class="radius-4" />
                <span class="margin-right-16">{{i.title}}</span>
            </div>
            <span>{{i.date | PersianCalendar}}</span>
            <div class="flex">
                <app-tag>{{i.category | CategoryPipe}}</app-tag>
            </div>
            <span>
                <app-tag *ngIf="i.publish === 2; else altPublish" color="success">{{i.publish| Publish}}</app-tag>
                <ng-template #altPublish><app-tag color="danger">{{i.publish| Publish}}</app-tag></ng-template>
            </span>
            <span>{{ i.comment }}</span>
            <div class="flex justify-end margin-right-auto">
                <a routerLink="{{i.slug}}"><app-icon icon="edit" size="20" color="dark"></app-icon></a>
                <a href="/portfolio/{{i.slug}}" target="_blank"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
        <div *ngIf="count > 0" class="flex justify-ctr margin-top-24">
            <app-button mode="outlined" color="dark" (click)="OnGetMorePortfolio()">مطالب بیشتر</app-button>
        </div>
    </div>
</section>
