<div class="portfolio flex column laptop margin-top-64 margin-bot-64">
    <h2 class="headline-4 color-text margin-ctr">نمونه کارهای من</h2>
    <div class="categories margin-bot-32">
        <ul class="flex margin-0 padding-0 justify-ctr margin-top-16">
            <li><app-button mode="filled" color="secondary">همه</app-button></li>
            <li><app-button mode="ghost" color="secondary">طراحی محصول</app-button></li>
            <li><app-button mode="ghost" color="secondary">برنامه نویسی</app-button></li>
            <li><app-button mode="ghost" color="secondary">برندینگ</app-button></li>
            <li><app-button mode="ghost" color="secondary">گرافیک</app-button></li>
        </ul>
    </div>
    <div class="samples grid">
        <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="flex column hidden radius-8 borderbox background-gray-1">
            <img src="assets/images/sample.jpg" alt="" />
            <div class="flex body-2 color-text margin-top-16 margin-right-24 margin-left-24">طراحی پلتفرم Einricht</div>
            <div class="actions flex align-ctr margin-top-8 margin-right-24 margin-left-24">
                <div class="show flex align-ctr caption color-text-tint margin-left-16">
                    <img src="assets/images/eye.svg" class="margin-left-4" />
                    2514
                </div>
                <div class="like flex align-ctr caption color-text-tint">
                    <img src="assets/images/like.svg" class="margin-left-4" />
                    548
                </div>
            </div>

        </div>
    </div>
    <a routerLink="about" class="nextBtn flex margin-ctr margin-top-32 body-2 color-secondary">نمایش نمونه کارهای بیشتر</a>
</div>