@use "src/assets/styles/color";
@use "src/assets/styles/typography";


:host{
    background-color: color.$color-dark;
    .portfolio{
        .categories{
            ul li {
                list-style: none;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
        .samples{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
        }
        .nextBtn{
            &:after{
                content: "";
                width: 24px;
                height: 24px;
                margin-right: 8px;
                background-image: url("~src/assets/icons/arrow-left.svg");
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
