@use "src/assets/styles/color";

:host{
    display: flex;
}

:host{
    &[color="primary"]{
        mat-icon{
            color: color.$color-primary !important;
        }
    }

    &[color="secondary"]{
        mat-icon{
            color: color.$color-secondary;
        }
    }

    &[color="gray1"]{
        mat-icon{
            color: color.$color-gray-1;
        }
    }

    &[color="gray2"]{
        mat-icon{
            color: color.$color-gray-2;
        }
    }

    &[color="gray3"]{
        mat-icon{
            color: color.$color-gray-3;
        }
    }

    &[color="gray4"]{
        mat-icon{
            color: color.$color-gray-4;
        }
    }

    &[color="gray5"]{
        mat-icon{
            color: color.$color-gray-5;
        }
    }

    &[color="white"]{
        mat-icon{
            color: color.$color-white;
        }
    }

    &[color="dark"]{
        mat-icon{
            color: color.$color-dark;
        }
    }
}

:host {
    &[size="16"] {
        mat-icon {
            width: 16px;
            height: 16px;
        }
    }

    &[size="20"] {
        mat-icon {
            width: 20px;
            height: 20px;
        }
    }

    &[size="24"] {
        mat-icon {
            width: 24px;
            height: 24px;
        }
    }

    &[size="32"] {
        mat-icon {
            width: 32px;
            height: 32px;
        }
    }

    &[size="48"] {
        mat-icon {
            width: 48px;
            height: 48px;
        }
    }
}
