<header>
    <section class="laptop width-full relative">
        <a *ngIf="isMedium" (click)="OnToggleSidebar()" class="flex align-ctr margin-left-16 pointer">
            <app-icon icon="menu" size="24" color="gray3"></app-icon>
        </a>
        <div class="logo flex align-ctr">
            <a *ngIf="!internalPages; else alt" routerLink="/" class="flex"><img src="assets/images/logo.svg" alt="logo" /></a>
            <ng-template #alt>
                <a routerLink="/" class="flex"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
            </ng-template>
        </div>
        <nav *ngIf="!isMedium" class="flex align-ctr justify-ctr">
            <ul class="flex height-full padding-0 margin-0">
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">صفحه اصلی</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active">نمونه کارها</a></li>
                <!--<li><a routerLink="/order" routerLinkActive="active">سفارش کار</a></li>-->
                <li><a routerLink="/blog" routerLinkActive="active">بلاگ</a></li>
                <li><a routerLink="/about" routerLinkActive="active">درباره من</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">تماس با من</a></li>
            </ul>
        </nav>
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
            <div *ngIf="!isXSmall" class="flex margin-right-auto align-ctr justify-end">
                <app-button *ngIf="!internalPages; else GhostDark" [isLink]="true" mode="ghost" color="white" href="/login">ورود</app-button>
                <ng-template #GhostDark>
                    <app-button [isLink]="true" mode="ghost" color="dark" href="/login">ورود</app-button>
                </ng-template>
                <app-button [isLink]="true" mode="filled" color="primary" href="/register" class="margin-right-16">عضویت</app-button>
            </div>
            <div *ngIf="isXSmall" class="flex margin-right-auto align-ctr justify-end">
                <a><app-icon icon="user" size="24" color="gray3"></app-icon></a>
            </div>
        </ng-container>
        <ng-template #loggedIn>
            <div #popup class="flex relative align-ctr margin-right-auto">
                <a (click)="OnDisplayMenu()" class="loggedin background-primary margin-left-8 flex justify-ctr align-ctr">
                    <app-icon icon="user2" size="20" color="white"></app-icon>
                </a>
                <div *ngIf="displayMenu" class="menu grid borderbox absolute background-white radius-8 padding-top-16 padding-bot-16">
                    <a routerLink="/profile" class="flex color-dark align-ctr padding-top-16 padding-bot-16 padding-right-24 padding-left-24">
                        <app-icon icon="user2" size="20" color="secondary"></app-icon>
                        <span class="padding-right-8 body-2 medium">پروفایل</span>
                    </a>
                    <a routerLink="/admin" class="flex color-dark align-ctr padding-top-16 padding-bot-16 padding-right-24 padding-left-24">
                        <app-icon icon="dashboard" size="20" color="secondary"></app-icon>
                        <span class="padding-right-8 body-2 medium">داشبورد ادمین</span>
                    </a>
                    <a (click)="OnSignOut()" class="flex color-dark align-ctr padding-top-16 padding-bot-16 padding-right-24 padding-left-24">
                        <app-icon icon="logout" size="20" color="danger"></app-icon>
                        <span class="padding-right-8 body-2 medium">خروج از حساب</span>
                    </a>
                </div>
            </div>
        </ng-template>
    </section>
</header>
<app-sidebar *ngIf="ShowSidebar" (toggle)="OnToggleSidebar()"></app-sidebar>
