<header>
    <section class="laptop">
        <div class="logo flex align-ctr">
            <a *ngIf="!internalPages; else alt" routerLink="/" class="flex"><img src="assets/images/logo.svg" alt="logo" /></a>
            <ng-template #alt>
                <a routerLink="/" class="flex"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
            </ng-template>
        </div>
        <nav class="flex align-ctr justify-ctr">
            <ul class="flex height-full padding-0 margin-0">
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">صفحه اصلی</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active">نمونه کارها</a></li>
                <li><a routerLink="/order" routerLinkActive="active">سفارش کار</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">بلاگ</a></li>
                <li><a routerLink="/about" routerLinkActive="active">درباره من</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">تماس با من</a></li>
            </ul>
        </nav>
        <div class="flex align-ctr justify-end">
            <app-button *ngIf="!internalPages; else GhostDark" [isLink]="true" mode="ghost" color="white" href="/login">ورود</app-button>
            <ng-template #GhostDark>
                <app-button [isLink]="true" mode="ghost" color="dark" href="/login">ورود</app-button>
            </ng-template>
            <app-button [isLink]="true" mode="filled" color="primary" href="/register" class="margin-right-16">عضویت</app-button>
        </div>
    </section>
</header>
