<section class="margin-top-32">
    <div class="head flex">
        <div class="avatar red radius-24 flex justify-ctr align-ctr"></div>
        <div class="flex column justify-ctr margin-right-16">
            <span class="body-1 bold color-dark">محمد زاهدی</span>
            <span class="caption medium color-gray-5 margin-top-2">23 اردیبهشت 1433</span>
        </div>
        <div class="flex margin-right-auto">
            <span class="body-2 medium color-dark margin-left-8">5</span>
            <app-icon icon="like" size="20" color="gray5"></app-icon>
        </div>
    </div>
    <div class="desc margin-top-16 margin-right-64">
        <p class="body-2 medium color-dark lineheight-24 margin-bot-16">تست میشود</p>
        <a class="flex align-ctr" (click)="ShowReplyForm()">
            <app-icon icon="comment" size="16" color="secondary"></app-icon>
            <span class="body-2 medium color-secondary margin-right-4">پاسخ</span>
        </a>
        <form *ngIf="!isHide" class="grid margin-top-24">
            <app-textbox title="نام و نام خانوادگی" name="name" type="text"></app-textbox>
            <app-textbox title="ایمیل" name="email" type="email"></app-textbox>
            <app-textbox title="نظر شما" name="comment" [multiLine]="true" [rows]="4"></app-textbox>
            <div class="flex">
                <app-button mode="filled" color="primary">ارسال نظر</app-button>
            </div>
        </form>
    </div>
</section>
