app-textbox[name="name"]{ grid-area: name }
app-textbox[name="email"]{ grid-area: email }
app-textbox[name="comment"]{ grid-area: comment }

:host {
    section {
        .head {
            .avatar {
                width: 48px;
                height: 48px;
            }
        }
        .desc{
            .grid{
                grid-template-areas:
                    'name email'
                    'comment comment';
                grid-column-gap: 32px;
                grid-row-gap: 32px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    :host{
        section{
            .desc{
                .grid{
                    grid-template-areas:
                    'name'
                    'email'
                    'comment';
                }
            }
        }
    }
}

