@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: color.$color-white;
    .apps{
        width: 440px;
        .big, .small{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ECF0F3;
        }
        .big{
            width: 280px;
            height: 280px;
            img{
                display: flex;
                width: 160px;
                height: 160px;
            }
        }
        .small{
            width: 128px;
            height: 128px;
            img{
                display: flex;
                width: 72px;
                height: 72px;
            }
        }
    }
}
