<div class="experience laptop">
    <div class="companies flex justify-ctr margin-top-48 margin-bot-48">
        <img src="assets/images/plaza-logo.png" alt="Plaza"/>
        <img src="assets/images/savaarman-logo.png" alt="Sava Arman"/>
        <img src="assets/images/tosan-logo.png" alt="Tosan"/>
    </div>
    <div class="skill grid">
        <div *ngFor="let s of [1,2,3,4]" class="flex column radius-8 borderbox background-gray-1 padding-32">
            <span class="body-2 color-text-tint margin-bot-40">3 سال سابقه کار</span>
            <div class="skillIcon flex">
                <img src="assets/images/skill/angular-icon.svg" alt="angular" />
                <img src="assets/images/skill/nodejs-icon.svg" alt="nodejs" />
                <img src="assets/images/skill/react-icon.svg" alt="react" />
            </div>
            <h2 class="headline-6 color-text margin-top-16">توسعه دهنده فرانت-اند</h2>
            <p class="body-2 color-text-tint margin-top-8">با 6 سال سابقه کار حرفه ای در زمینه طراحی محصول و پیاده سازی صفحات وب آماده همکاری هستم.</p>
        </div>
    </div>
</div>