<div class="experience laptop">
    <div class="companies flex justify-ctr margin-top-48 margin-bot-48">
        <img src="assets/images/plaza-logo.png" alt="Plaza"/>
        <img src="assets/images/savaarman-logo.png" alt="Sava Arman"/>
        <img src="assets/images/tosan-logo.png" alt="Tosan"/>
    </div>
    <div class="skill grid">
        <div *ngFor="let i of experience" class="flex column radius-8 borderbox background-gray-1">
            <div class="flex align-ctr padding-top-24 padding-left-32 padding-right-32 padding-bot-24">
                <h2 class="headline-6 color-text">{{ i.title }}</h2>
                <span class="margin-right-auto headline-4 color-secondary">{{ i.years }}</span>
                <span class="caption color-text-tint margin-right-8">سال</span>
            </div>
            <img src="{{ i.img }}" />
            <p class="body-2 color-text-tint padding-top-24 padding-right-32 padding-left-32">{{ i.desc }}</p>
        </div>
    </div>
</div>