@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host{
    &:before{
        display: flex;
        position: absolute;
        z-index: 0;
        content: "";
        width: 100%;
        height: 320px;
        background-color: color.$color-gray-3;
    }
    .experience{
        position: relative;
        z-index: 1;
        .companies{
            img{
                height: 48px;
                margin-left: 24px;
                margin-right: 24px;
            }
        }
    }
    .skill{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 32px;
        > div {
            height: 283px;
            .skillIcon {
                height: 48px;
                img{
                    margin-left: 16px;
                }
            }
        }
    }
}