<app-loader *ngIf="isLoading"></app-loader>
<section *ngIf="!isLoading" class="PortfolioPage laptop margin-top-32 margin-bot-56 width-full">
    <div class="flex align-ctr margin-bot-16">
        <h1 class="color-dark headline-1 bold margin-left-24">نمونه کارهای من</h1>
        <img src="../../../../assets/images/dot.svg" alt="" />
    </div>
    <div class="categories flex margin-top-32 margin-bot-32">
        <app-portfolio-category
            [isSmall]="isSmall"
            [currentTab]="currentTab"
            (output)="OnGetAllPortfolio($event)">
        </app-portfolio-category>
        <app-portfolio-sort
            [isXSmall]="isXSmall"
            (newstPortfolio)="OnNewestPortfolio()"
            (mostVisitedPortfolio)="OnMostVisitedPortfolio()"
            class="margin-right-auto">
        </app-portfolio-sort>
    </div>
    <div class="grid">
        <app-portfoliocard
            *ngFor="let i of data"
            [title]="i.title"
            [slug]="i.slug"
            [like]="i.like"
            [visit]="i.visit"
            [imageURL]="i.thumbnail"
            [category]="i.category"
            [isOutline]="false"
            [isList]="isSmall">
        </app-portfoliocard>
    </div>
    <div class="flex justify-ctr margin-top-32">
        <app-button
            *ngIf="!isLastPage"
            (click)="OnGetMorePortofilo()"
            [isLink]="false"
            [spin]="isSpin"
            mode="outlined"
            color="dark">
            نمونه کارهای بیشتر
        </app-button>
    </div>
</section>

