<section class="PortfolioPage laptop margin-top-32 margin-bot-56 width-full">
    <div class="flex align-ctr margin-bot-16">
        <h1 class="color-dark headline-1 bold margin-left-24">نمونه کارهای من</h1>
        <img src="../../../../assets/images/dot.svg" alt="" />
    </div>
    <div class="categories flex margin-top-32 margin-bot-32">
        <ul *ngIf="!isSmall" class="flex margin-0 padding-0">
            <ng-container *ngFor="let opt of options; index as i">
                <li>
                    <app-button
                        *ngIf="i === currentTab; else alt"
                        mode="filled"
                        color="primary">
                            {{ opt }}
                    </app-button>
                </li>
                <ng-template #alt>
                    <li>
                        <app-button
                            (click)="OnGetAllPortfolio(i)"
                            mode="ghost"
                            color="dark">
                                {{ opt }}
                        </app-button>
                    </li>
                </ng-template>
            </ng-container>
        </ul>
        <app-dropdown *ngIf="isSmall" [options]="options"></app-dropdown>
        <div *ngIf="!isXSmall" class="flex margin-right-auto">
            <app-button
                (click)="SetSort(1)"
                [isLink]="false"
                [mode]="sortNum == 1 ? 'filled' : 'ghost'"
                [color]="'dark'">
                جدیدترین
            </app-button>
            <app-button
                (click)="SetSort(2)"
                [isLink]="false"
                [mode]="sortNum == 2 ? 'filled' : 'ghost'"
                [color]="'dark'" class="margin-right-16">
                پربازدیدترین
            </app-button>
        </div>
        <app-dropdown
            *ngIf="isXSmall"
            [options]="sortName"
            class="flex margin-right-auto">
        </app-dropdown>
    </div>
    <div class="grid">
        <app-portfoliocard
            *ngFor="let i of data"
            [title]="i.title"
            [slug]="i.slug"
            [like]="i.like"
            [visit]="i.visit"
            [imageURL]="i.thumbnail"
            [category]="i.category"
            [isOutline]="false"
            [isList]="isSmall">
        </app-portfoliocard>
    </div>
    <div class="flex justify-ctr margin-top-32">
        <app-button
            *ngIf="!isLastPage"
            (click)="OnGetMorePortofilo()"
            [isLink]="false"
            [spin]="isSpin"
            mode="outlined"
            color="dark">
            نمونه کارهای بیشتر
        </app-button>
    </div>
</section>

