<section class="flex justify-btw background-white width-full height-full borderbox">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="flex column align-ctr">
        <app-icon icon="home" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">خانه</span>
    </a>
    <a routerLink="/portfolio" routerLinkActive="active" class="flex column align-ctr">
        <app-icon icon="briefcase" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">نمونه کار</span>
    </a>
    <a routerLink="/blog" routerLinkActive="active" class="flex column align-ctr">
        <app-icon icon="note" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">بلاگ</span>
    </a>
    <a routerLink="/about" routerLinkActive="active" class="flex column align-ctr">
        <app-icon icon="user3" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">درباره</span>
    </a>
    <a routerLink="/contact" routerLinkActive="active" class="flex column align-ctr">
        <app-icon icon="call" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">تماس</span>
    </a>
</section>
