<section class="flex justify-btw background-white width-full height-full borderbox">
    <a routerLink="/" class="flex column align-ctr">
        <app-icon icon="home" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">خانه</span>
    </a>
    <a routerLink="/portfolio" class="flex column align-ctr">
        <app-icon icon="briefcase" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">نمونه کار</span>
    </a>
    <a routerLink="/blog" class="flex column align-ctr">
        <app-icon icon="note" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">بلاگ</span>
    </a>
    <a routerLink="/about" class="flex column align-ctr">
        <app-icon icon="user3" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">درباره</span>
    </a>
    <a routerLink="/contact" class="flex column align-ctr">
        <app-icon icon="call" size="24" color="dark"></app-icon>
        <span class="color-gray-4 body-2 medium margin-top-4">تماس</span>
    </a>
</section>
