<section class="width-full padding-top-24 padding-right-24 padding-left-32">
    <div class="flex align-ctr margin-bot-24">
        <h1 class="color-dark headline-5 bold">درباره من</h1>
    </div>
    <div class="flex margin-bot-32">
        <div class="flex width-full column padding-24 background-white radius-8 shadow-16">
            <form [formGroup]="languageForm" (ngSubmit)="OnSubmit()">
                <app-textbox
                    title="عنوان"
                    formControlName="title">
                </app-textbox>
                <app-textbox
                    title="مرجع چهارچوب اروپایی مشترک"
                    formControlName="cefr">
                </app-textbox>
                <app-textbox
                    title="سطح"
                    formControlName="level">
                </app-textbox>
                <app-button class="flex width-fit margin-top-24">ویرایش</app-button>
            </form>
        </div>
    </div>
</section>
