<section class="flex align-ctr justify-ctr width-full height-full fixed">
    <span (click)="CloseDialog()" class="width-full height-full background-dark opacity-80"></span>
    <div class="box flex column absolute background-white radius-16 padding-32 shadow-24 borderbox">
        <span class="flex justify-ctr headline-5 text-ctr color-dark bold">ورود به سایت</span>
        <span class="body-2 medium color-dark margin-top-16">برای این کار ابتدا باید در سایت لاگین کنید</span>
        <div class="action grid margin-top-16">
            <app-button href="/login" [isLink]="true" target="_blank" class="width-full">ورود</app-button>
            <app-button (click)="CloseDialog()" mode="outlined" color="dark" class="width-full">بستن</app-button>
        </div>
    </div>
</section>