@use "src/assets/styles/color";

:host{
    section{
        .aboutme{
            .aboutmeImg{
                position: relative;
                top: 54px;
            }
        }
        .info{
            .grid{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 32px;
                grid-row-gap: 32px;
            }
        }
        .experience{
            .grid{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 32px;
                .company {
                    .year{
                        .dot{
                            width: 8px;
                            height: 8px;
                            border: 4px solid color.$color-gray-3;
                        }
                    }
                    .desc{
                        height: 100%;
                        background-color: color.$color-gray-1;
                        border: 1px solid color.$color-gray-2;
                        &:before{
                            display: flex;
                            content: "";
                            position: absolute;
                            top:-15px;
                            width: 48px;
                            height: 16px;
                            background: url("/assets/images/btnarrow.png");
                        }
                        img{
                            height: 32px;
                        }
                    }
                    &:first-child, &:nth-child(2){
                        &:after{
                            display: flex;
                            position: absolute;
                            top:38px;
                            left: -16px;
                            content: "";
                            width: 50%;
                            height: 1px;
                            background: linear-gradient(90deg, rgba(218,230,238,1) 0%, rgba(218,230,238,0) 100%);
                        }
                    }
                    &:nth-child(2), &:last-child{
                        &:before{
                            display: flex;
                            position: absolute;
                            top:38px;
                            right: -16px;
                            content: "";
                            width: 50%;
                            height: 1px;
                            background: linear-gradient(90deg, rgba(218,230,238,0) 0%, rgba(218,230,238,1) 100%);
                        }
                    }
                    &:last-child{
                        .year .dot{
                            border-color: color.$color-primary;
                        }
                        .desc{
                            border: 1px solid color.$color-dark;
                            background-color: color.$color-dark;
                            h3, .reason{
                                color: color.$color-secondary;
                            }
                            .fromto{
                                color: color.$color-gray-3;
                            }
                            p{
                                color: color.$color-white;
                            }
                            &:before{
                                background: url("/assets/images/btnarrow-dark.png");
                            }
                        }
                    }
                }
            }
        }
        .skills{
            .grid{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 32px;
                grid-row-gap: 16px;
            }
        }
        .language{
            .sections{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 32px;
                grid-row-gap: 32px;
                .levels{
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-column-gap: 2px;
                    span{
                        height: 6px;
                        &.filled{
                            background-color: color.$color-primary;
                        }
                        &.empty{
                            background-color: color.$color-gray-2;
                        }
                        &:first-child{
                            border-radius: 0 3px 3px 0;
                        }
                        &:last-child{
                            border-radius: 3px 0 0 3px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    :host {
        section {
            .aboutme {
                > div {
                    flex-direction: column;
                    justify-content: center;
                    .aboutmeInfo {
                        width: fit-content;
                        .jobtitle {
                            font-size: 20px;
                        }
                        .logofa {
                            width: 184px;
                            height: 32px;
                        }
                        p {
                            margin-top: 32px;
                        }
                    }
                    .aboutmeImg {
                        display: none;
                    }
                }
            }
            .info{
                .grid > div {
                    flex-direction: column;
                    app-icon{
                        margin-bottom: 16px;
                    }
                    div {
                        align-items: center;
                    }
                }
            }
            .experience{
                .grid {
                    grid-template-columns: 1fr;
                    grid-row-gap: 32px;
                    .company {
                        height: fit-content;
                        .year {
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                            span:nth-child(1) {
                                margin-right: 12px;
                                margin-bottom: 0;
                            }
                        }
                        .desc{
                            margin-top: 16px;
                            &:before{
                                display: none;
                            }
                        }
                        &:nth-child(n){
                            &:after, &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :host {
        section {
            .aboutme {
                > div:nth-child(2){
                    flex-direction: column;
                    > div{
                        width: 100%;
                    }
                }
            }
            .skills .grid {
                grid-template-columns: 1fr 1fr;
            }
            .language .sections {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    :host {
        section {
            .info{
                .grid {
                    grid-template-columns: 1fr;
                    > div {
                        flex-direction: row;
                        app-icon{
                            margin-bottom: unset;
                        }
                        div {
                            align-items: unset;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    :host {
        section {
            .skills .grid {
                grid-template-columns: 1fr;
            }
        }
    }
}
