<section class="flex column">
    <div class="aboutme CRTMonitor flex column justify-ctr align-self-ctr">
        <div class="flex column margin-top-32">
            <div class="imageContaier flex relative z-index-1 radius-8 hidden">
                <img src="assets/images/aboutme.webp" />
            </div>
            <div class="flex column margin-left-32 margin-top-56 margin-bot-56">
                <span class="jobtitle headline-4 bold color-dark margin-bot-16">{{data.jobtitle}}</span>
                <img class="logofa" src="assets/icons/rezanrzdlogofa.svg" width="321" height="56" alt=""/>
                <p class="body-2 medium color-dark lineheight-24 margin-top-48">{{data.aboutme}}</p>
                <div class="flex align-ctr margin-top-32 margin-bot-16">
                    <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                    <span class="body-2 bold color-dark margin-right-4">شماره تماس:</span>
                    <span class="body-2 medium color-dark margin-right-4">{{data.phone}}</span>
                </div>
                <div class="flex align-ctr">
                    <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                    <span class="body-2 bold color-dark margin-right-4">آدرس ایمیل:</span>
                    <span class="body-2 medium color-dark margin-right-4">{{data.email}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="info flex align background-dark padding-top-48 padding-bot-48 z-index-2">
        <div class="CRTMonitor grid margin-right-auto margin-left-auto">
            <div class="flex align-ctr">
                <app-icon icon="cake" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">تاریخ تولد:</span>
                    <span class="headline-5 bold color-white">{{data.birthday}}</span>
                </div>
            </div>
            <div class="flex align-ctr">
                <app-icon icon="married" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">وضعیت تاهل:</span>
                    <span class="headline-5 bold color-white">{{data.married}}</span>
                </div>
            </div>
            <div class="flex align-ctr">
                <app-icon icon="soldier" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">خدمت سربازی:</span>
                    <span class="headline-5 bold color-white">{{data.militaryservice}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="experience align-self-ctr margin-top-56 margin-bot-56">
        <div class="flex CRTMonitor align-ctr margin-bot-32">
            <h2 class="color-dark headline-1 bold margin-left-24">سوابق کاری</h2>
            <img src="assets/images/dot.svg" alt="" />
        </div>
        <div class="grid CRTMonitor">
            <div *ngFor="let exp of data.experience" class="company flex column relative">
                <div class="year flex column align-ctr">
                    <span class="body-1 bold color-dark margin-bot-8">{{exp.year}}</span>
                    <span class="dot flex radius-8"></span>
                </div>
                <div class="desc flex justify-ctr margin-top-24 relative radius-8 padding-32">
                    <div class="flex column width-full">
                        <img src="assets/images/{{exp.img}}.png" alt="" class="width-fit"/>
                        <h3 class="body-1 bold color-dark margin-top-16">{{exp.companyname}}</h3>
                        <span class="fromto caption medium color-gray-5 margin-top-2">{{exp.from}}</span>
                        <p class="body-2 medium color-dark margin-top-8 lineheight-24 margin-bot-32">{{exp.desc}}</p>
                        <span class="reason caption medium color-dark margin-top-auto">{{exp.reason}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills flex justify-ctr background-gray-1 padding-top-56 padding-bot-56">
        <div class="CRTMonitor width-full">
            <div class="flex align-ctr margin-bot-32">
                <h2 class="color-dark headline-1 bold margin-left-24">مهارت ها</h2>
                <img src="assets/images/dot.svg" alt="" />
            </div>
            <div *ngIf="!isSmall" class="flex">
                <ng-container *ngFor="let btn of data.skills; index as i">
                    <app-button *ngIf="i === tab; else alt" (click)="SetTabIndex(i)" mode="filled" color="primary" class="margin-left-16">{{btn.title}}</app-button>
                    <ng-template #alt>
                        <app-button (click)="SetTabIndex(i)" mode="outlined" color="dark" class="margin-left-16">{{btn.title}}</app-button>
                    </ng-template>
                </ng-container>
            </div>
            <div *ngIf="isSmall" class="flex margin-top-32">
                <app-button (click)="ToggleVisible()" class="width-fit" icon="chevron-down" mode="outlined" color="dark2">دسته بندی ها</app-button>
                <app-bottomsheet
                    *ngIf="isVisible"
                    [title]="bottomsheetData.title"
                    [options]="bottomsheetData.options"
                    (value)="SetTabIndex($event)"
                    (isVisible)="ToggleVisible()">
                </app-bottomsheet>
            </div>
            <div class="grid margin-top-40">
                <ng-container *ngIf="show">
                    <div *ngFor="let skl of data.skills[tab].skill" class="flex align-ctr">
                        <app-icon icon="chevron-left" size="16" color="secondary"></app-icon>
                        <span class="body-2 medium color-dark margin-right-4">{{skl}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="language flex justify-ctr width-full margin-top-56 margin-bot-56">
        <div class="CRTMonitor width-full">
            <div class="flex align-ctr margin-bot-32">
                <h2 class="color-dark headline-1 bold margin-left-24">زبان انگلیسی</h2>
                <img src="assets/images/dot.svg" alt="" />
            </div>
            <div class="sections grid margin-top-32">
                <div *ngFor="let lang of data.language" class="flex column">
                    <div class="flex margin-bot-8">
                        <span class="body-2 medium color-dark margin-left-4">{{ lang.title }}:</span>
                        <div class="body-2 medium color-dark">{{ lang.cefr }}</div>
                    </div>
                    <div class="levels grid">
                        <span *ngFor="let i of [1,2,3,4,5,6]" [ngClass]="i <= lang.level ? 'filled' : 'empty'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
