<section class="flex column margin-top-32 margin-bot-56">
    <div class="flex CRTMonitor align-ctr margin-bot-32">
        <h1 class="color-dark headline-1 bold margin-left-24">درباره من</h1>
        <img src="assets/images/dot.svg" alt="" />
    </div>
    <div class="aboutme CRTMonitor flex margin-bot-56">
        <div class="imageContainer flex relative">
            <img src="/assets/images/aboutus.png" class="absolute" alt=""/>
        </div>
        <div class="flex column margin-right-48 width-full">
            <span class="headline-4 bold color-dark margin-top-56 margin-bot-16">توسعه دهنده و طراح وب</span>
            <img src="assets/icons/rezanrzdlogofa.svg" width="321" height="56" alt=""/>
            <p class="body-2 medium color-dark lineheight-24 margin-top-48">فارغ التحصیل رشته مهندسی کامپیوتر گرایش نرم افزار در سال 1393 از دانشگاه آزاد واحد لاهیجان هستم.
                علاقه و دانش من عمدتا در حوزه طراحی و توسعه وب است و بیش از 7 سال سابقه فعالیت در این حوزه را دارم.</p>
            <div class="flex align-ctr margin-top-32 margin-bot-16">
                <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                <span class="body-2 bold color-dark margin-right-4">شماره تماس:</span>
                <span class="body-2 medium color-dark margin-right-4">09112489464</span>
            </div>
            <div class="flex align-ctr">
                <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                <span class="body-2 bold color-dark margin-right-4">آدرس ایمیل:</span>
                <span class="body-2 medium color-dark margin-right-4">info@rezanrzdh.ir</span>
            </div>
        </div>
    </div>
    <div class="info flex background-dark padding-top-48 padding-bot-48">
        <div class="CRTMonitor grid">
            <div class="flex align-ctr">
                <app-icon icon="cake" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">تاریخ تولد:</span>
                    <span class="headline-5 bold color-white">17 دی 1368</span>
                </div>
            </div>
            <div class="flex align-ctr">
                <app-icon icon="married" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">وضعیت تاهل:</span>
                    <span class="headline-5 bold color-white">متاهل هستم</span>
                </div>
            </div>
            <div class="flex align-ctr">
                <app-icon icon="soldier" size="48"></app-icon>
                <div class="flex column margin-right-16">
                    <span class="body-1 color-gray-3 margin-bot-4">خدمت سربازی:</span>
                    <span class="headline-5 bold color-white">پایان خدمت 1396</span>
                </div>
            </div>
        </div>
    </div>
    <div class="experience margin-top-56 margin-bot-56">
        <div class="flex CRTMonitor align-ctr margin-bot-32">
            <h2 class="color-dark headline-1 bold margin-left-24">سوابق کاری</h2>
            <img src="assets/images/dot.svg" alt="" />
        </div>
        <div class="grid CRTMonitor">
            <div *ngFor="let item of [1,1,1]" class="company flex column relative">
                <div class="year flex column align-ctr">
                    <span class="body-1 bold color-dark margin-bot-8">مهر 1396</span>
                    <span class="flex radius-8"></span>
                </div>
                <div class="desc flex justify-ctr margin-top-24 relative radius-8 padding-32">
                    <div class="flex column width-full">
                        <img src="assets/images/sava_arman.png" alt="" class="width-fit"/>
                        <h3 class="body-1 bold color-dark margin-top-16">ساوا آرمان کیش</h3>
                        <span class="caption medium color-gray-5 margin-top-2">از سال 1396 تا 1397</span>
                        <p class="body-2 medium color-dark margin-top-8 lineheight-24">در شرکت ساوا آرمان کیش ابتدا به عنوان موشن گرافیست و سپس طراح UIUX فعالیت کردم. شرکت ساوا آرمان کیش در حوزه ی گردشگری، ارز دیجیتال و درگاه واسط فعالیت داشت.</p>
                        <span class="caption medium color-dark margin-top-auto">دلیل اتمام همکاری: انتقال شرکت به تهران</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills"></div>
    <div class="language"></div>
</section>
