<div #sliderWrapper *ngIf="image" class="flex relative align-ctr hidden radius-8">
    <a (click)="BtnPrevImage()" class="next absolute right margin-right-24 padding-8 background-white radius-8 opacity-60 z-index-1">
        <app-icon icon="arrow-right" color="dark" size="24"></app-icon>
    </a>
    <div class="slider flex">
        <div (touchmove)="CheckIsMultiTouch($event)"
             (touchend)="CheckIsMultiTouch($event)"
             (pointerdown)="Start($event)"
             (pointermove)="Move($event)"
             (pointerup)="End($event)"
             (pointerleave)="Leave($event)"
             [ngStyle]="{'transform': 'translateX('+ transformX +'px)'}"
             class="sliderWrapper flex">
            <div *ngFor="let img of image; index as i">
                <a #anchorTag [href]="img | ImagePath" target="_blank" class="flex" draggable="false"
                   [ngStyle]="{ 'width': currentImageSize +'px', 'pointer-events': pointerEvent }">
                    <img (mouseenter)="GetImageSize(sliderWrapper.clientWidth)"
                         (touchstart)="GetImageSize(sliderWrapper.clientWidth)"
                         [width]="currentImageSize"
                         src="{{img | ImagePath}}"
                         alt="" draggable="false"/>
                </a>
            </div>
        </div>
    </div>
    <a (click)="BtnNextImage()" class="prev absolute left margin-left-24 padding-8 background-white radius-8 opacity-60">
        <app-icon icon="arrow-left" color="dark" size="24">
        </app-icon>
    </a>
</div>
<div class="flex justify-ctr align-ctr margin-top-24">
    <div class="flex">
            <span *ngFor="let dot of [].constructor(image.length); index as i"
                  [ngClass]="currentImage === i ? 'background-primary' : 'background-gray-2'"
                  class="flex margin-left-4 margin-right-4 padding-4 radius-8"></span>
    </div>
</div>
