<section class="grid margin-bot-24">
    <div class="flex column width-full background-white padding-24 borderbox radius-8">
        <div class="width-fit padding-12 radius-24 background-primary">
            <app-icon icon="portfolio" color="white" size="24"></app-icon>
        </div>
        <span class="margin-top-24 body-2 color-gray-4">نمونه کارها</span>
        <span class="margin-top-8 headline-1 bold color-dark">{{ data.portfolio }}</span>
    </div>
    <div class="flex column width-full background-white padding-24 borderbox radius-8">
        <div class="width-fit padding-12 radius-24 background-primary">
            <app-icon icon="note" color="white" size="24"></app-icon>
        </div>
        <span class="margin-top-24 body-2 color-gray-4">مقالات</span>
        <span class="margin-top-8 headline-1 bold color-dark">{{ data.blog }}</span>
    </div>
    <div class="flex column width-full background-white padding-24 borderbox radius-8">
        <div class="width-fit padding-12 radius-24 background-primary">
            <app-icon icon="user2" color="white" size="24"></app-icon>
        </div>
        <span class="margin-top-24 body-2 color-gray-4">کاربران</span>
        <span class="margin-top-8 headline-1 bold color-dark">{{ data.user }}</span>
    </div>
    <div class="flex column width-full background-white padding-24 borderbox radius-8">
        <div class="width-fit padding-12 radius-24 background-primary">
            <app-icon icon="gallery" color="white" size="24"></app-icon>
        </div>
        <span class="margin-top-24 body-2 color-gray-4">عکس ها</span>
        <span class="margin-top-8 headline-1 bold color-dark">{{ data.files }}</span>
    </div>
</section>
