@use "src/assets/styles/color";

:host {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 24px;
        > div {
            box-shadow: 0 16px 48px rgba(0,0,0,0.04);
        }
    }
}
