@import "src/assets/styles/color";
@import "src/assets/styles/typography";

section{
    .container{
        width: 1024px;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 0 128px rgba(0,0,0,0.08);
        .loginBG{
            &:before{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1) 100%), url("/assets/images/authbg.webp");
            }
        }
    }
}


@media screen and (max-width: 960px) {
    :host section .container {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    :host section .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    :host section .container {
        .form, .registerBG div {
            padding: 24px;
        }
    }
}
