<section class="flex justify-ctr align-ctr height-full">
    <div class="container grid hidden background-white radius-8">
        <div class="flex form column height-full borderbox padding-48">
            <a routerLink="/" class="flex justify-ctr margin-top-8 margin-bot-24">
                <img src="/assets/images/logo-gray.svg" height="24" alt="" />
            </a>
            <h1 class="flex justify-ctr headline-5 bold color-gray-4 margin-bot-32">ورود به سایت</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex column height-full">
                <app-textbox title="آدرس ایمیل" type="email" name="email" class="margin-bot-16" formControlName="email" [formGroup]="loginForm.get('email')"></app-textbox>
                <app-textbox title="رمز عبور" type="password" name="password" class="margin-bot-16" formControlName="password" [formGroup]="loginForm.get('password')"></app-textbox>
                <app-button [isLink]="false" [spin]="isSpin" mode="filled" color="secondary" class="margin-bot-16 margin-top-auto">ورود به سایت</app-button>
                <app-button [isLink]="true" href="/register" mode="outlined" color="dark">هنوز عضو نشدی؟ کلیک کن</app-button>
            </form>
        </div>
        <div class="loginBG flex relative height-full">
            <div class="flex column width-full height-full padding-48 borderbox">
                <img src="/assets/images/dot.svg" width="72" height="32" class="z-index-10" alt="" />
                <a routerLink="/" class="flex align-self-bot margin-top-auto color-white body-2 z-index-10">
                    <app-icon icon="arrow-right" size="20" class="margin-left-8"></app-icon>
                    بازگشت به خانه
                </a>
            </div>
        </div>
    </div>
</section>
