<section class="flex justify-ctr align-ctr height-full">
    <div class="login flex column align-ctr shadow-24 radius-16 padding-32 borderbox">
        <label class="margin-bot-32">سلام، خوش اومدی</label>
        <form class="flex column width-full">
            <app-textbox title="ایمیل" type="text" name="email" class="margin-bot-24 width-full"></app-textbox>
            <app-textbox title="ایمیل" type="text" name="email" class="margin-bot-24 width-full"></app-textbox>
        </form>
    </div>
</section>
