<div class="flex column background-gray-1 relative">
    <div class="menu flex borderbox">
        <button (click)="Bold()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isBold}" type="button">
            <app-icon icon="bold" size="16" color="dark"></app-icon>
        </button>
        <button (click)="Italic()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isItalic}" type="button">
            <app-icon icon="italic" size="16" color="dark"></app-icon>
        </button>
        <button (click)="Underline()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isUnderline}" type="button">
            <app-icon icon="underline" size="16" color="dark"></app-icon>
        </button>
        <button (click)="Numbered()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isNumbered}" type="button">
            <app-icon icon="numbered" size="16" color="dark"></app-icon>
        </button>
        <button (click)="Bulleted()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isBulleted}" type="button">
            <app-icon icon="bulleted" size="16" color="dark"></app-icon>
        </button>
        <button (click)="Anchor()" class="flex justify-ctr align-ctr" [ngClass]="{'active': isAnchor}" type="button">
            <app-icon icon="link" size="16" color="dark"></app-icon>
        </button>
    </div>
    <div *ngIf="anchorContainer" class="AnchorContainer flex align-ctr absolute padding-8 background-gray-1 radius-8">
        <button *ngIf="isAnchor" (click)="UnAnchor(); onChange(editable.innerHTML)" class="deleteBtn margin-left-4 color-danger radius-4" type="button">حذف</button>
        <button (click)="CreateAnchor(); onChange(editable.innerHTML)" class="margin-left-4 background-secondary color-white radius-4" type="button">ایجاد</button>
        <input [(ngModel)]="link.input" dir="ltr" autofocus/>
        <a (click)="CloseAnchor()" class="margin-right-4"><app-icon icon="close" size="20"></app-icon></a>
    </div>
    <div
        #editable
        id="editable"
        class="background-white borderbox padding-16"
        contenteditable="true"
        [innerHTML]="value"
        (input)="IsEmpty($event); onChange($event.target.innerHTML)"
        (blur)="onTouched()"
        (mouseup)="SelectionCheck()"
    >
    </div>
</div>
