@use "src/assets/styles/color";

div{
    display: flex;
    position: fixed;
    max-width: 480px;
    padding: 16px;
    margin: auto;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    z-index: 999999;
    box-shadow: 0 8px 24px rgba(0,0,0,0.16);

    &.success{
        color: white;
        background-color: color.$color-success;
    }
    &.danger{
        color: white;
        background-color: color.$color-danger;
    }
    &.info{
        color: white;
        background-color: color.$color-info;
    }
    &.warning{
        color: white;
        background-color: color.$color-dark;
    }

    &.TopCenter {
        top:32px;
        left: 0;
        right: 0;
    }
    &.TopLeft {
        top:32px;
        left: 32px;
    }
    &.TopRight {
        top:32px;
        right: 32px;
    }
    &.BotCenter {
        bottom:32px;
        left: 0;
        right: 0;
    }
    &.BotLeft {
        bottom:32px;
        left: 32px;
    }
    &.BotRight {
        bottom:32px;
        right: 32px;
    }
}

