@use "src/assets/styles/color";
@use "src/assets/styles/typography";

app-textbox[name="name"]{ grid-area: name }
app-textbox[name="email"]{ grid-area: email }
app-textbox[name="phone"]{ grid-area: phone }
app-textbox[name="subject"]{ grid-area: subject }
app-textbox[name="comment"]{ grid-area: comment }
.action{ grid-area: action }

:host{
    display: flex;
    justify-content: center;
    position: relative;
    &:after{
        display: flex;
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 72px;
        z-index: 1;
        background-color: color.$color-dark;
    }
    section{
        position: relative;
        z-index: 10;
        .container{
            grid-template-columns: 2fr 1fr;
            min-height: 549px;
            box-shadow: 0 0 128px rgba(0,0,0,0.08);
            .form{
                .grid{
                    grid-template-areas: 'name email''phone subject''comment comment''action action';
                    grid-column-gap: 32px;
                    grid-row-gap: 16px;
                    app-button{
                        min-width: 96px;
                    }
                }
            }
            .info{
                width: 100%;
                min-height: 100%;
                border-radius: 8px 0 0 8px;
                background: url("/assets/images/map.avif");
                background-repeat: no-repeat;
                background-size: cover;
                &:before{
                    display: flex;
                    position: absolute;
                    z-index: 1;
                    content: "";
                    width: 100%;
                    height: 60%;
                    border-radius: 8px 0 0 0;
                    background:linear-gradient(180deg,rgba(34,51,71,1) 30%, rgba(34,51,71,0));
                }
                .social{
                    width: 64px;

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    :host section .container .info{
        min-width: 320px;
    }
}

@media screen and (max-width: 900px) {
    :host section .container{
        grid-template-columns: 1fr;
        .info {
            border-radius: 0 0 8px 8px;
            background: url("/assets/images/map-hor.avif");
            background-position: center center;
            &:before {
                width: 80%;
                height: 100%;
                border-radius: 0 0 8px 8px;
                background:linear-gradient(-90deg,rgba(34,51,71,1) 30%, rgba(34,51,71,0));
            }
        }
    }
}

@media screen and (max-width: 600px) {
    :host section .container .form .grid {
        grid-template-areas: 'name''email''phone''subject''comment''action';
    }
}

@media screen and (max-width: 480px) {
    :host section .container .info {
        min-width: auto;
        &:before {
            width: 100%;
            background:linear-gradient(-90deg,rgba(34,51,71,1) 30%, rgba(34,51,71,0.5));
        }
        > div {
            flex-direction: column;
            .social {
                margin-top:24px;
                width: 100%;
                margin-right: 0;
                padding-top: 8px;
                padding-bottom: 8px;
                flex-direction: row;
                a {
                    margin-bottom: 0;
                    margin-right: 8px;
                    margin-left: 8px;
                }
            }
        }
    }
}

