<app-loader *ngIf="isLoading"></app-loader>
<section *ngIf="!isLoading" class="ContactPage laptop width-full margin-top-32">
    <div class="flex align-ctr margin-bot-16">
        <h1 class="color-dark headline-1 bold margin-left-24">تماس با من</h1>
        <img src="assets/images/dot.svg" alt="" />
    </div>
    <p class="color-dark medium body-2 margin-bot-24">نظرات و پیشنهاداتتون رو میتونید از طریق فرم زیر با من در میون بذارید.</p>
    <div class="container grid background-white radius-8">
        <div class="form padding-32 width-full borderbox">
            <h2 class="headline-4 bold color-dark margin-bot-32">ارسال نظر</h2>
            <form class="grid" [formGroup]="contactForm" (ngSubmit)="CreateComment()">
                <app-textbox type="text" name="name" title="نام و نام خانوادگی" formControlName="name" [formGroup]="contactForm.get('name')"></app-textbox>
                <app-textbox type="email" name="email" title="آدرس ایمیل" formControlName="email" [formGroup]="contactForm.get('email')"></app-textbox>
                <app-textbox type="tel" name="phone" title="شماره تماس" formControlName="phone" [formGroup]="contactForm.get('phone')"></app-textbox>
                <app-textbox type="text" name="subject" title="موضوع" formControlName="subject" [formGroup]="contactForm.get('subject')"></app-textbox>
                <app-textbox [multiLine]="true" [rows]="4" name="comment" title="نظر شما" formControlName="comment" [formGroup]="contactForm.get('comment')"></app-textbox>
                <div class="action flex">
                    <app-button action="submit" [isLink]="false" [spin]="isSpin" color="primary" mode="filled" class="margin-left-16">ارسال نظر</app-button>
                </div>
            </form>
        </div>
        <div class="info relative margin-right-auto background-gray-5">
            <div class="flex relative margin-32 z-index-10">
                <div>
                    <h2 class="headline-4 bold color-gray-2 margin-bot-24">اطلاعات تماس</h2>
                    <ul class="padding-0 margin-0">
                        <li class="flex align-ctr margin-bot-16">
                            <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                            <span class="margin-right-4 color-gray-3 body-2">شماره تماس: {{ data.phone }}</span>
                        </li>
                        <li class="flex margin-bot-16">
                            <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                            <span class="margin-right-4  color-gray-3 body-2">آدرس ایمیل: {{ data.email }}</span>
                        </li>
                        <li class="flex">
                            <app-icon icon="chevron-left" size="16" color="primary"></app-icon>
                            <span class="margin-right-4  color-gray-3 body-2">شهر باران خانه من است</span>
                        </li>
                    </ul>
                </div>
                <div class="social flex column align-ctr justify-ctr background-gray-5 margin-right-auto padding-top-24 padding-bot-24 radius-8">
                    <a href="https://www.instagram.com/rezanrzdh/" target="_blank" class="margin-bot-24"><app-icon icon="instagram" size="24" color="white"></app-icon></a>
                    <a href="https://www.linkedin.com/in/reza-norouzzadeh-20139398/" target="_blank" class="margin-bot-24"><app-icon icon="linkedin" size="24" color="white"></app-icon></a>
                    <a href="https://github.com/RezaNrzdh" target="_blank"><app-icon icon="github" size="24" color="white"></app-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>
