<section class="flex relative width-full radius-16">
    <div class="flex align-ctr">
        <a class="flex rightArrowBtn background-gray-1 justify-ctr align-ctr radius-24">
            <app-icon icon="arrow-right" color="textTint"></app-icon>
        </a>
    </div>
    <img src="assets/images/post2.png" class="radius-16" alt="postImage" />
    <div class="flex align-ctr justify-end">
        <a class="flex leftArrowBtn background-gray-1 justify-ctr align-ctr radius-24">
            <app-icon icon="arrow-left" color="textTint"></app-icon>
        </a>
    </div>
</section>

