@use "src/assets/styles/color";

section {
    img {
        width: 952px;
        height: 535px;
        object-fit: cover;
        object-position: center top;
    }
    a{
        color: color.$color-text-tint;
        &:hover{
            background-color: color.$color-secondary;
            color: red;
        }
    }
}
