section {
    height: 450px;
    img {
        width: 800px;
        height: 450px;
        object-fit: cover;
        object-position: center top;
    }
    div{
        width: 80px;
    }
    a {
        width: 48px;
        height: 48px;
    }
    .rightArrowBtn{
        left: -80px;
    }
    .leftArrowBtn{
        fill: #B74141;
    }
}
