<section class="flex relative width-full radius-16">
    <a #test class="flex justify-ctr align-ctr padding-16 absolute align-self-ctr radius-32 background-gray-2 margin-right-24">
        <app-icon icon="arrow-right" size="24" color="primary"></app-icon>
    </a>
    <img src="assets/images/post2.png" class="radius-16" alt="postImage" />
    <a class="flex justify-ctr align-ctr padding-16 absolute left align-self-ctr radius-32 background-gray-2 margin-left-24">
        <app-icon icon="arrow-left" size="24" color="textTint"></app-icon>
    </a>
</section>

