@use "src/assets/styles/color";

:host{
    display: flex;
    justify-content: center;
    height: 160px;
    background-color: color.$color-gray-1;
    section{
        height: inherit;
        img{
            margin-left: 32px;
            margin-right: 32px;
        }
    }
}

@media screen and (max-width: 640px) {
    :host{
        height: fit-content;
        section {
            margin-top: 56px;
            margin-bottom: 56px;
            flex-direction: column;
            img:nth-child(1), img:nth-child(2) {
                margin-bottom: 24px;
            }
        }
    }
}
