<section class="margin-top-16 margin-right-32">
    <ul class="padding-0 margin-0">
        <li class="list-style-none">
            <a routerLink="/admin" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="dashboard" size="20" color="primary"></app-icon>
                <span class="margin-right-12">داشبورد</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin/portfolio" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="portfolio" size="20" color="primary"></app-icon>
                <span class="margin-right-12">نمونه کارها</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="briefcase" size="20" color="primary"></app-icon>
                <span class="margin-right-12">سفارشات</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin/user" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="user2" size="20" color="primary"></app-icon>
                <span class="margin-right-12">کاربران</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="note" size="20" color="primary"></app-icon>
                <span class="margin-right-12">بلاگ</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin/contact" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="message" size="20" color="primary"></app-icon>
                <span class="margin-right-12">نظرات</span>
            </a>
        </li>
        <li class="list-style-none">
            <a routerLink="/admin/images" class="flex align-ctr padding-top-16 padding-bot-16 body-2 medium color-dark z-index-1">
                <app-icon icon="gallery" size="20" color="primary"></app-icon>
                <span class="margin-right-12">عکس ها</span>
            </a>
        </li>
    </ul>
</section>
