<section class="width-full padding-top-24 padding-right-24 padding-left-32">
    <div class="flex align-ctr margin-bot-24">
        <h1 class="color-dark headline-5 bold">کاربران سایت</h1>
    </div>
    <div class="flex column background-white radius-8 shadow-16 padding-24 margin-bot-32">
        <div class="headerTable sticky background-white width-full grid body-2 bold color-dark padding-top-16 padding-bot-16">
            <span>نام کاربر</span>
            <span>تاریخ عضویت</span>
            <span>وضعیت</span>
            <span>نقش</span>
            <span></span>
        </div>
        <div *ngFor="let i of data" class="rowTable flex align-ctr width-full grid body-2 medium color-dark padding-top-16 padding-bot-16 margin-top-8">
            <div class="flex align-ctr">
                <div class="avatar background-gray-3 radius-24 flex justify-ctr align-ctr">
                    <app-icon icon="user2" size="20" color="dark"></app-icon>
                </div>
                <span class="margin-right-16">{{i.email}}</span>
            </div>
            <span>{{i.registerDate | PersianCalendar}}</span>
            <div class="flex">
                <app-tag *ngIf="i.available; else altAvailable" color="success">فعال</app-tag>
                <ng-template #altAvailable><app-tag color="danger">غیرفعال</app-tag></ng-template>
            </div>
            <span>
                <app-tag *ngIf="i.role === 2; else altRole" color="primary">{{i.role | Role}}</app-tag>
                <ng-template #altRole><app-tag color="secondary">{{i.role | Role}}</app-tag></ng-template>
            </span>
            <div class="flex justify-end">
                <a routerLink="{{i.email}}"><app-icon icon="edit" size="20" color="dark"></app-icon></a>
            </div>
        </div>
    </div>
</section>
