@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host {
    display: flex;
    position: fixed;
    z-index: 9999;
    top:0;
    section {
        .box {
            max-width: 480px;
            min-width: 344px;
            .username, .email {
                width: 200px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
