footer{
    .instagramBtn{
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("~src/assets/icons/instagram.svg");
        }
    }
    .linkedinBtn{
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("~src/assets/icons/linkedin.svg");
        }
    }
    .githubBtn{
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("~src/assets/icons/github.svg");
        }
    }
}
