<section class="width-full padding-top-24 padding-right-24 padding-left-32">
    <div class="flex align-ctr margin-bot-24">
        <h1 class="color-dark headline-5 bold">نظر کاربران</h1>
    </div>
    <div class="flex column background-white radius-8 shadow-16 padding-24 margin-bot-32">
        <div class="headerTable sticky background-white width-full grid body-2 bold color-dark padding-top-16 padding-bot-16">
            <span>آدرس ایمیل</span>
            <span>نام و نام خانوادگی</span>
            <span>تاریخ ارسال</span>
            <span>دسته بندی</span>
            <span>وضعیت</span>
            <span></span>
        </div>
        <div *ngFor="let i of data" class="rowTable flex align-ctr width-full grid body-2 medium color-dark padding-top-16 padding-bot-16 margin-top-8">
            <span>{{ i.email }}</span>
            <span>{{ i.name }}</span>
            <span>{{ i.date | PersianCalendar }}</span>
            <span><app-tag color="secondary">{{ i.isArticle | IsArticle }}</app-tag></span>
            <span>
                <app-tag *ngIf="i.confirmed" color="success">{{ i.confirmed | Confirmed }}</app-tag>
                <app-tag *ngIf="!i.confirmed" color="danger">{{ i.confirmed | Confirmed }}</app-tag>
            </span>
            <div class="flex margin-right-auto">
                <a routerLink="{{i._id}}"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
    </div>
</section>
