<section class="justify-ctr">
    <div class="flex laptop absolute height-full margin-auto left right">
        <div class="comment flex padding-16 radius-16 background-white">
            <span class="flex radius-24 justify-ctr align-ctr">
                <app-icon icon="microphone" color="white" size="32"></app-icon>
            </span>
            <div class="flex column margin-right-16">
                <span class="body-1 bold color-dark margin-bot-2">حرفه ای و خلاق</span>
                <span class="body-2 medium color-dark">با کلی نمونه کار جذاب</span>
            </div>
        </div>
    </div>
    <div class="socialmedia laptop width-full">
        <a><app-icon icon="instagram" size="16" color="white"></app-icon></a>
        <a><app-icon icon="linkedin" size="16" color="white"></app-icon></a>
        <a><app-icon icon="github" size="16" color="white"></app-icon></a>
    </div>
</section>
