<div class="slider flex laptop radius-16 relative z-index-1">
    <img class="align-self-bot z-index-10" src="assets/images/heroimg.png" alt="heroimage" />
    <div class="flex column margin-right-auto justify-ctr">
        <h2 class="headline-4 width-3q color-text margin-top-8 margin-bot-16">طراح و توسعه دهنده وب، دارای 10 سال سابقه کار حرفه ای</h2>
        <p class="body-2 color-text-tint">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        <div class="actions flex margin-top-56">
            <a routerLink="about" class="nextBtn flex body-2 color-secondary">با من بیشتر آشنا شو</a>
            <a class="instagtamBtn flex body-2 margin-right-auto"></a>
            <a class="linkedinBtn flex body-2 margin-right-24"></a>
            <a class="githubBtn flex body-2 margin-right-24"></a>
        </div>
    </div>
</div>
