<app-share *ngIf="share" [title]="data.title" [url]="currentUrl" (outout)="ToggleShare()"></app-share>
<app-alertbox *ngIf="alertbox" location="BotCenter"></app-alertbox>
<section *ngIf="data" class="flex column width-full align-ctr">
    <div class="flex column CRTMonitor margin-top-56 margin-bot-56">
        <h1 class="headline-1 bold color-dark margin-bot-16">{{ data.title }}</h1>
        <div class="info flex align-ctr margin-bot-32">
            <app-tag>{{ data.category | CategoryPipe }}</app-tag>
            <div>
                <span class="body-2 color-dark medium margin-right-16">تاریخ انتشار:</span>
                <span class="body-2 color-dark medium margin-right-8">{{ data.date | PersianCalendar }}</span>
            </div>
        </div>
        <div class="slider flex column">
            <div class="flex relative align-ctr">
                <a (click)="ShowPrevImage(sliderWrapper)" class="next absolute right margin-right-24 padding-8 background-white radius-8 opacity-60 z-index-1">
                    <app-icon icon="arrow-right" color="dark" size="24"></app-icon>
                </a>
                <div class="flex radius-8 hidden">
                    <div class="sliderWeapper flex" #sliderWrapper>
                        <img *ngFor="let img of data.img" src="{{env}}/public/{{ img }}" alt=""/>
                    </div>
                </div>
                <a (click)="ShowNextImage(sliderWrapper)" class="prev absolute left margin-left-24 padding-8 background-white radius-8 opacity-60">
                    <app-icon icon="arrow-left" color="dark" size="24"></app-icon>
                </a>
            </div>
            <div class="flex justify-ctr align-ctr margin-top-24">
                <div class="flex">
                    <span *ngFor="let dot of [].constructor(data.img.length); index as i"
                       [ngClass]="currentImage === i ? 'background-primary' : 'background-gray-2'"
                       class="flex margin-left-4 margin-right-4 padding-4 radius-8"></span>
                </div>
            </div>
        </div>
        <div class="desc grid margin-top-40 margin-left-32 margin-right-32">
            <div class="flex column align-ctr">
                <a (click)="ToggleShare()"><app-icon icon="share" size="24" color="gray4"></app-icon></a>
                <div class="flex column align-ctr margin-top-32">
                    <a (click)="SubmitLike()"><app-icon icon="like" size="24" color="gray4"></app-icon></a>
                    <span class="body-2 medium color-gray-4 margin-top-4">{{ data.like }}</span>
                </div>
            </div>
            <div class="lineheight-32 color-dark">
                <p>{{ data.desc }}</p>
            </div>
        </div>
    </div>
    <div class="related flex background-gray-1b width-full justify-ctr">
        <div class="flex column laptop margin-top-56 margin-bot-56 width-full">
            <div class="flex justify-ctr align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نمونه کارهای مشابه</h2>
            </div>
            <div class="grid width-full">
                <app-portfoliocard
                    *ngFor="let i of topPortfolio"
                    [title]="i.title"
                    [slug]="i.slug"
                    [visit]="i.visit"
                    [like]="i.like"
                    [imageURL]="i.thumbnail"
                    [category]="i.category"
                    [isList]="isMedium">
                </app-portfoliocard>
            </div>
        </div>
    </div>
    <div class="width-full flex justify-ctr">
        <div class="comment CRTMonitor width-full padding-bot-32 margin-top-56">
            <div class="flex align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نظر شما</h2>
                <img src="../../../../assets/images/dot.svg" alt="" />
            </div>
            <form class="grid" [formGroup]="commentForm" (ngSubmit)="OnSubmit()">
                <app-textbox
                    title="نام و نام خانوادگی"
                    name="name"
                    type="text"
                    formControlName="name"
                    [formGroup]="commentForm.get('name')">
                </app-textbox>
                <app-textbox
                    title="ایمیل"
                    name="email"
                    type="email"
                    formControlName="email"
                    [formGroup]="commentForm.get('email')">
                </app-textbox>
                <app-textbox
                    title="نظر شما"
                    name="comment"
                    [multiLine]="true"
                    [rows]="4"
                    formControlName="comment"
                    [formGroup]="commentForm.get('comment')">
                </app-textbox>
                <div class="flex">
                    <app-button mode="filled" color="primary">ارسال نظر</app-button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="data.comment.length > 0" class="CRTMonitor width-fill-webkit width-fill-moz margin-bot-56">
        <div class="flex justify-ctr margin-top-32">
            <div class="flex width-full align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نظر کاربران</h2>
                <img src="../../../../assets/images/dot.svg" alt="" />
            </div>
        </div>
        <app-comment *ngFor="let cm of data.comment" [data]="cm" [pid]="data._id" class="width-full"></app-comment>
    </div>
</section>
