section{
    width: 800px;
    .actions {
        a.like {
            &:before{
                content: "";
                width: 24px;
                height: 24px;
                background-image: url("~src/assets/images/like.svg");
            }
        }
        a.share {
            &:before{
                content: "";
                width: 24px;
                height: 24px;
                background-image: url("~src/assets/images/share.svg");
            }
        }
    }
}
