<section>
    <div class="flex column CRTMonitor margin-top-56 margin-bot-56">
        <h1 class="headline-1 bold color-dark margin-bot-16">طراحی اپلیکیشن فضای مجازی Flavortome</h1>
        <div class="flex align-ctr margin-bot-32">
            <app-tag>طراحی وب</app-tag>
            <span class="body-2 color-dark medium margin-right-16">تاریخ انتشار:</span>
            <span class="body-2 color-dark medium margin-right-8">23 اردیبهشت 1433</span>
        </div>
        <div class="slider flex column">
            <img src="assets/images/posts/post.jpg" class="radius-8" alt=""/>
            <div class="flex justify-ctr align-ctr margin-top-24">
                <div class="flex">
                    <span class="padding-4 radius-8 background-gray-2 margin-left-4 margin-right-4"></span>
                    <span class="padding-4 radius-8 background-gray-2 margin-left-4 margin-right-4"></span>
                    <span class="padding-4 radius-8 background-gray-2 margin-left-4 margin-right-4"></span>
                    <span class="padding-4 radius-8 background-primary margin-left-4 margin-right-4"></span>
                </div>
            </div>
        </div>
        <div class="desc grid margin-top-40">
            <div class="flex column align-ctr">
                <a><app-icon icon="share" size="24" color="gray4"></app-icon></a>
                <div class="flex column align-ctr margin-top-32">
                    <app-icon icon="like" size="24" color="gray4"></app-icon>
                    <span class="body-2 medium color-gray-4 margin-top-4">958</span>
                </div>
            </div>
            <div class="lineheight-32 color-dark">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>
        </div>
    </div>
    <div class="related flex background-gray-1b">
        <div class="flex column laptop margin-top-56 margin-bot-56">
            <div class="flex justify-ctr align-ctr margin-bot-32">
                <h2 class="color-dark headline-4 bold margin-left-24">نمونه کارهای مشابه</h2>
            </div>
            <div class="grid">
                <app-portfoliocard
                    *ngFor="let i of data"
                    [title]="i.title"
                    [visit]="i.visit"
                    [like]="i.like"
                    [imageURL]="i.img"
                    [category]="i.category">
                </app-portfoliocard>
            </div>
        </div>
    </div>
    <div class="comment CRTMonitor padding-bot-32 margin-top-56">
        <div class="flex align-ctr margin-bot-32">
            <h2 class="color-dark headline-4 bold margin-left-24">نظر شما</h2>
            <img src="assets/images/dot.svg" alt="" />
        </div>
        <form class="grid" [formGroup]="commentForm" (ngSubmit)="OnSubmit()">
            <app-textbox title="نام و نام خانوادگی" name="name" type="text"></app-textbox>
            <app-textbox title="ایمیل" name="email" type="email"></app-textbox>
            <app-textbox title="نظر شما" name="comment" [multiLine]="true" [rows]="4"></app-textbox>
            <div class="flex">
                <app-button mode="filled" color="primary">ارسال نظر</app-button>
            </div>
        </form>
    </div>
    <div class="otherComments CRTMonitor margin-top-32">
        <div class="flex align-ctr margin-bot-32">
            <h2 class="color-dark headline-4 bold margin-left-24">نظر کاربران</h2>
            <img src="assets/images/dot.svg" alt="" />
        </div>
    </div>
    <app-comment *ngFor="let i of [1,1,1]"></app-comment>
</section>
