@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host {
    .blogtitle {
        &:after{
            display: flex;
            content: "";
            width: 48px;
            height: 4px;
            background-color: color.$color-primary;
            margin-top: 4px;
        }
    }
    .newestArticle {
        .date{
            min-width: 80px;
            height: 80px;
            .day{
                font-size: 48px;
            }
            .month{
                bottom: 10px;
            }
        }
    }
}