@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host {
    .blogtitle {
        &:after{
            display: flex;
            content: "";
            width: 48px;
            height: 4px;
            background-color: color.$color-primary;
            margin-top: 4px;
        }
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        > div {
            img {
                width: 200px;
                height: 300px;
            }
            .nextBtn{
                &:after{
                    content: "";
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                    background-image: url("~src/assets/icons/arrow-left.svg");
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
