<div class="blog flex column laptop">
    <h2 class="blogtitle headline-4 color-text margin-top-56">هیچ می‌دانی؟</h2>
    <div class="flex margin-top-40 margin-bot-56">
        <div class="flex column width-half">
            <img src="assets/images/blogsample.jpg" class="radius-8" alt="blogSample" />
            <div class="newestArticle flex margin-top-24">
                <div class="date flex column relative align-ctr radius-8 background-gray-2">
                    <span class="day color-secondary">23</span>
                    <span class="month caption color-secondary absolute">اردیبهشت</span>
                </div>
                <h2 class="headline-4 color-text margin-right-16">درآمد دلاری برای فریلنسر های تازه کار. آری یا نه؟ چطور و چگونه درآمد دلاری کسب کنیم؟</h2>
            </div>
        </div>
        <div class="flex column width-half">
            <div class="flex">
                <div class="date flex column relative align-ctr radius-8 background-gray-2">
                    <span class="day color-secondary">23</span>
                    <span class="month caption color-secondary absolute">اردیبهشت</span>
                </div>
                <h2 class="headline-4 color-text margin-right-16">درآمد دلاری برای فریلنسر های تازه کار. آری یا نه؟ چطور و چگونه درآمد دلاری کسب کنیم؟</h2>
            </div>
        </div>
    </div>
</div>