<div class="blog flex column laptop padding-bot-56">
    <div class="flex justify-btw align-ctr margin-top-56">
        <h2 class="blogtitle headline-4 color-text">هیچ می‌دانی؟</h2>
        <app-button mode="filled" color="secondary">مطالب بیشتر</app-button>
    </div>
    <div class="grid margin-top-32">
        <div *ngFor="let i of [1,2]" class="flex">
            <img src="assets/images/blogsample.jpg" class="radius-16" />
            <div class="flex column margin-right-24">
                <div>
                    <span class="day headline-4 color-secondary margin-left-4">24</span>
                    <span class="month caption color-text-tint"> / اردیبهشت</span>
                </div>
                <h3 class="color-text margin-top-24 margin-bot-16">درآمد دلاری برای فریلنسر های تازه کار. آری یا نه؟ چطور و چگونه درآمد دلاری کسب کنیم؟</h3>
                <p class="body-2 color-text-tint">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <a class="flex margin-top-auto body-2 color-secondary">
                    ادامه مطلب
                    <app-icon icon="arrow-left" color="secondary" class="margin-right-8"></app-icon>
                </a>
            </div>
        </div>
    </div>
</div>
