<section class="grid">
    <div class="info flex column padding-24 borderbox background-white radius-8">
        <h2 class="color-dark headline-5 bold margin-bot-24">اطلاعات سایت</h2>
        <div class="flex align-ctr margin-bot-16 padding-bot-16">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">دسته بندی مهارت ها</span>
            <div class="flex margin-right-auto">
                <a routerLink="category" class="margin-right-12"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
        <div class="flex align-ctr margin-bot-16 padding-bot-16">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">نظر کارفرمایان در مورد من</span>
            <div class="flex margin-right-auto">
                <a routerLink="employers" class="margin-right-12"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
        <div class="flex align-ctr margin-bot-16 padding-bot-16">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">درباره من</span>
            <a routerLink="about" class="margin-right-auto"><app-icon icon="open" size="20" color="dark"></app-icon></a>
        </div>
        <div class="flex align-ctr margin-bot-16 padding-bot-16">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">لیست مهارت ها</span>
            <div class="flex margin-right-auto">
                <a routerLink="skills" class="margin-right-12"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
        <div class="flex align-ctr margin-bot-16 padding-bot-16">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">سوابق کاری</span>
            <div class="flex margin-right-auto">
                <a routerLink=experience class="margin-right-12"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
        <div class="flex align-ctr">
            <span class="padding-4 radius-8 background-secondary margin-left-12"></span>
            <span class="color-dark">مهارت های زبان انگلیسی</span>
            <div class="flex margin-right-auto">
                <a routerLink="language" class="margin-right-12"><app-icon icon="open" size="20" color="dark"></app-icon></a>
            </div>
        </div>
    </div>
    <admin-canvas></admin-canvas>
</section>
