@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host{
    display: flex;
    height: 20px;
    @include typography.caption;
    span {
        border-radius: 10px;
        padding: 0 8px 0 8px;
        &.primary {
            color: color.$color-dark;
            background-color: color.$color-primary;
        }
        &.secondary{
            color: color.$color-white;
            background-color: color.$color-secondary;
        }
        &.success {
            color: color.$color-white;
            background-color: color.$color-success;
        }
        &.danger {
            color: color.$color-white;
            background-color: color.$color-danger;
        }
    }
}
