<section class="CRTMonitor margin-top-32 margin-bot-32">
    <div class="flex align-ctr margin-bot-32">
        <h1 class="color-dark headline-1 bold margin-left-24">سفارش کار</h1>
        <img src="assets/images/dot.svg" alt=""/>
    </div>
    <div class="flex column">
        <div class="customPlan flex align-ctr padding-24 radius-8 background-gray-1b margin-bot-16">
            <app-icon icon="info" size="32" color="secondary"></app-icon>
            <div class="flex column margin-right-16">
                <span class="headline-6 bold color-dark">هیچکدوم از این پلن ها نیازتو پوشش نمیده؟</span>
                <span class="body-1 medium color-gray-5 margin-top-4">به صورت سفارشی خودت پلنت رو بساز.</span>
            </div>
            <app-button mode="outlined" color="dark2" class="margin-right-auto">ساخت پلن سفارشی</app-button>
        </div>
        <div class="tabs grid">
            <a *ngFor="let item of data; index as i" (click)="SetSelectedOrder(i)" [ngClass]="{'active': selectedOrder === i}" class="flex column align-ctr radius-8 borderbox padding-32">
                <ng-container *ngIf="selectedOrder === i; else alt">
                    <app-icon icon="{{item.icon}}" size="72" color="primary" class="tt margin-bot-40"></app-icon>
                </ng-container>
                <ng-template #alt>
                    <app-icon icon="{{item.icon}}" size="72" color="gray3" class="tt margin-bot-40"></app-icon>
                </ng-template>
                <h2 class="color-dark headline-6 bold margin-bot-16 text-ctr">{{ item.title }}</h2>
                <span class="body-2 color-dark text-ctr">{{ item.desc }}</span>
            </a>
        </div>
        <div class="flex justify-ctr subtabs margin-top-64">
            <ul class="flex margin-0 padding-0">
                <li *ngFor="let item of data[selectedOrder].options; index as i" (click)="SetSelectedSubOrder(i)">
                    <ng-container *ngIf="selectedSubOrder === i; else alt">
                        <app-button mode="filled" color="primary">{{ item.title }}</app-button>
                    </ng-container>
                    <ng-template #alt>
                        <app-button mode="outlined" color="dark">{{ item.title }}</app-button>
                    </ng-template>
                </li>
            </ul>
        </div>
        <div class="orders flex column width-full margin-top-32">
            <div class="plans grid">
                <div *ngFor="let item of data[selectedOrder].options[selectedSubOrder].plans" class="plan flex column borderbox radius-8 hidden">
                    <div class="width-full padding-bot-8 background-gray-2"></div>
                    <div class="flex column padding-24 margin-bot-2">
                        <app-tag *ngIf="item.popular" class="width-fit align-self-ctr">محبوب ترین</app-tag>
                        <span class="flex justify-ctr margin-top-32 headline-5 bold color-dark margin-bot-16">{{ item.title }}</span>
                        <span class="flex justify-ctr body-2 color-gray-5 medium margin-bot-16">{{ item.desc }}</span>
                        <div class="flex justify-ctr align-ctr margin-bot-16">
                            <span class="headline-1 bold color-dark">{{ item.price.toLocaleString() }}</span>
                            <span class="body-2 color-gray-5 margin-right-8">تومان</span>
                        </div>
                        <app-button mode="filled" color="primary">انتخاب طرح</app-button>
                    </div>
                    <div class="props flex column margin-top-8 margin-bot-32">
                        <div *ngFor="let i of item.props" class="flex align-ctr text-ctr justify-ctr body-2 dark medium borderbox margin-right-32 margin-left-32">{{i}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
