@use "src/assets/styles/color";

:host{
    display: flex;
    justify-content: center;
    section{
        .tabs{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            a{
                position: relative;
                border: 1px solid color.$color-gray-2;
                &.active{
                    border-color: color.$color-dark;
                    background-color: color.$color-dark;
                    h2, span{
                        color: color.$color-white;
                    }
                    &:after{
                        display: flex;
                        content: "";
                        position: absolute;
                        bottom: -15px;
                        width: 48px;
                        height: 16px;
                        background: url("/assets/images/btnarrow-dark.png");
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        .subtabs{
            ul li {
                list-style: none;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
        .orders{
            .plans{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 32px;
                grid-row-gap: 32px;
                .plan{
                    border: 1px solid color.$color-gray-2;
                    app-tag{
                        position: absolute;
                    }
                    .props{
                        div{
                            padding-top: 12px;
                            padding-bottom: 12px;
                            &:not(:last-child){
                                border-bottom:1px solid color.$color-gray-1b;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    :host{
        section{
            .tabs{
                grid-column-gap: 16px;
                a{
                    padding: 16px;
                }
            }
            .orders{
                .plans{
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :host{
        section{
            .customPlan{
                flex-direction: column;
                align-items: flex-start;
                div{
                    margin-top: 16px;
                    margin-right: 0;
                }
                app-button{
                    margin-top: 16px;
                    margin-right: 0;
                }
            }
            .tabs {
                a {
                    h2{
                        font-size: 16px;
                    }
                    span{
                        display: none;
                    }
                }
            }
            .subtabs {
                ul{
                    width: 100%;
                    flex-direction: column;
                    li {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    :host {
        section {
            .tabs{
                a{
                }
            }
            .orders{
                .plans{
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    :host {
        section {
            .tabs {
                a {
                    app-icon{
                        width: 48px;
                        height: 48px;
                        margin-bottom: 32px;
                    }
                    h2{
                        font-size: 16px;
                    }
                    span{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    :host {
        section {
            .tabs {
                grid-column-gap: 8px;
                a {
                    padding: 8px;
                    h2{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


