@use "src/assets/styles/color";
@use "src/assets/styles/typography";

:host {
    .card {
        border: 1px solid color.$color-gray-2;
        .name {
            width: 190px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
