<div class="flex column padding-32">
    <div class="card flex align-ctr radius-8 padding-24 margin-bot-16" >
        <div class="flex column margin-left-16">
            <span class="body-2 color-gray-5 margin-bot-8">نام و نام خانوادگی</span>
            <span class="name body-1 color-dark medium">{{ data.name ? data.name : 'نام خود را بنویسید' }}</span>
        </div>
        <a (click)="SetCurrentTab(1)" class="flex align-ctr margin-right-auto">
            <app-icon icon="edit" color="dark" size="24"></app-icon>
        </a>
    </div>
    <div class="card flex align-ctr radius-8 padding-24 margin-bot-16">
        <div class="flex column margin-left-16">
            <span class="body-2 color-gray-5 margin-bot-8">شماره تماس</span>
            <span class="body-1 color-dark medium">{{ data.phone ? data.phone : 'شماره خود را بنویسید' }}</span>
        </div>
        <a (click)="SetCurrentTab(2)" class="flex align-ctr margin-right-auto">
            <app-icon icon="edit" color="dark" size="24"></app-icon>
        </a>
    </div>
    <div class="card flex align-ctr radius-8 padding-24">
        <div class="flex column margin-left-16">
            <span class="body-2 color-gray-5 margin-bot-8">تغییر رمز عبور</span>
            <span class="body-1 color-dark medium">••••••</span>
        </div>
        <a (click)="SetCurrentTab(3)" class="flex align-ctr margin-right-auto">
            <app-icon icon="edit" color="dark" size="24"></app-icon>
        </a>
    </div>
</div>
